<div id="tabs">
  <ul class="nav nav-tabs">
  {{#each dailyMenus}}
    <li><a href="#tabs-{{id}}">{{ day_of_week day_number }}</a></li>
  {{/each}}
  </ul>
  {{#each dailyMenus}}
    <div id="tabs-{{id}}">
      <h3 class="center">
        {{ day_of_week day_number }} | Limit: {{max_total}} UAH
      </h3>
    </div>
  {{/each}}
</div>
