<div id="tabs">
  <ul class="nav nav-tabs">
  {{#each dailyMenus}}
    <li><a href="#tabs-{{id}}">{{ day_of_week day_number }}</a></li>
  {{/each}}
  </ul>
  {{#each dailyMenus}}
    <div id="tabs-{{id}}">
      <h3 class="center">{{ day_of_week day_number }} Order</h3>
      {{#each categories}}
        <h3>{{title}}</h3>
        <hr>
        <div class="container">
          {{#each dishes}}
            <div class="col-md-4 dish">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="checkbox{{id}}">{{title}}
                </label>
                <span class="pull-right price">{{price}} UAH</span>
              </div>
              <br>
              <div class="form-group">
                <label class="control-label col-md-2">Quanity:</label>
                <div class="col-md-10">
                  <input type="number" class="form-control" id="input{{id}}" disabled
                    name="days[{{../../id}}][dishes][{{id}}]" value="1">
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
